<publishData>
	<publishProfile profileName="bcw-baseball - Web Deploy" publishMethod="MSDeploy" publishUrl="bcw-baseball.scm.azurewebsites.net:443" msdeploySite="bcw-baseball" userName="$bcw-baseball" userPWD="RlieR8zoqs8NS30lKm3FrthJrdR1Yfm4kjwapZ7J6cWCGgsrjo2Ar0XmH6Rk" destinationAppUrl="http://bcw-baseball.azurewebsites.net" SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="" webSystem="WebSites">
		<databases />
	</publishProfile>
	<publishProfile profileName="bcw-baseball - FTP" publishMethod="FTP" publishUrl="ftp://waws-prod-bay-039.ftp.azurewebsites.windows.net/site/wwwroot" ftpPassiveMode="True" userName="bcw-baseball\$bcw-baseball" userPWD="RlieR8zoqs8NS30lKm3FrthJrdR1Yfm4kjwapZ7J6cWCGgsrjo2Ar0XmH6Rk" destinationAppUrl="http://bcw-baseball.azurewebsites.net" SQLServerDBConnectionString="" mySQLDBConnectionString="" hostingProviderForumLink="" controlPanelLink="" webSystem="WebSites">
		<databases />
	</publishProfile>
</publishData>